
.body-giohang{
    background-color:  #F7F7F7;
}
.logo-icon{
}
.main-giohang{
    width: 1200px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}
.container3{
    margin-right: auto;
    margin-left: auto;
    width: 1200px;
    padding-top: 30px;
    padding-bottom: 30px;
}